*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
}
.wrap{
    width: 350px;
    height: 700px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    .avatar{
        margin-bottom: 30px;
        border-radius: 50%;
        width: 90px;
    }
    .name{
        margin-bottom: 10px;
        font-size: 26px;
    }
    .localisation{
        margin-bottom: 20px;
        color: hsl(75, 94%, 57%);
    }
    .quote{
        padding: 20px 0;
    }
    .links{
        width: 90%;
        list-style-type: none;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            margin: 20px;
            background-color: hsl(0, 0%, 20%);
            border-radius: 10px;
            cursor: pointer;
            transition: color 0.3s, background-color 0.3s;
            &:hover{
                color: black;
                background-color: hsl(75, 94%, 57%);
            }
        }
    }
}